/* tabla */
.container__testimonials {
    height: 480px;
    overflow: hidden;
    /* padding: 2rem 0; */
    overflow-y: hidden;
}

@media only screen and (max-width:768px){
    .container__testimonials {
        height: auto;
        overflow: auto;
        padding: 2rem 0;
        overflow-y: auto;
    }
}
.container__testimonials::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container__testimonials::-webkit-scrollbar:vertical {
    width: 10px;
}

.container__testimonials::-webkit-scrollbar-button:increment,
.container__testimonials::-webkit-scrollbar-button {
    display: none;
}

.container__testimonials::-webkit-scrollbar:horizontal {
    height: 10px;
}

.container__testimonials::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.container__testimonials::-webkit-scrollbar-track {
    border-radius: 10px;
}

.container__testimonials:hover {
    overflow-y: auto;
}
.container__testimonials .container__testimonial{
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
}
.container__testimonials .container__testimonial .content__header-testimonials{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container__testimonials .container__testimonial .content__header-testimonials i{
    font-size: 20px;
}
.container__testimonials .container__testimonial .content__header-testimonials .content__stars{
    text-align: center;
}
.container__testimonials .container__testimonial .content__header-testimonials .content__stars .t-gold{
    color: orange;
}
.container__testimonials .container__testimonial .testimonials__name{
    margin-bottom: 0;
    text-align: end;
}
/* pagination */
.pagination{
    display: flex;
    flex-wrap: wrap;
}
.pagination .button__paginate{
    background-color: #27306c;
    color: #fff;
    padding: 10px;
    margin: 0 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease;
}
.pagination .button__paginate:hover{
    background-color: #000;
}
/* form */
.well2 {
    padding: 19px;
    margin-bottom: 20px;
    height: auto;
    background:#27306c;
     border: 1px solid #e3e3e3; 
    border-radius: 9px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0px -1px 7px 4px rgb(115 115 115 / 52%);
}